.CodeRay {

  background-color: #2B2B2B;
  font-family: 'Courier New', 'Terminal', monospace;
  color: #fff;
  padding: 3px 5px;
  overflow: auto;
  font-size: 14px;
  line-height: 1.1em;
  pre {
    margin: 0px;
    padding: 0px;
  }

  .tag, .attribute-name { color: #E8BF6A; }
  .string, .content { color: #A5C261; }
  .comment { color: #BC9458; }
}