//.CodeRay {
//  background-color: #232323;
//  border: 1px solid black;
//  font-family: 'Courier New', 'Terminal', monospace;
//  color: #E6E0DB;
//  padding: 3px 5px;
//  overflow: auto;
//  font-size: 14px;
//  line-height: 1.1em;
//  pre {
//    margin: 0px;
//    padding: 0px;
//  }
//
//  .tag { color: #E7BE69; }
//  .string { color: #A5C261; }
//  .comment { color: #BC9458; }
//}