.__sg_article {
  margin-bottom: 3em;
}

.__sg_component {
  overflow: hidden;
  margin-bottom: 1em;
}

.__boxed > * { border: 1px solid $strong_highlight; }

.__code_note {
  font-family: 'Courier New', 'Terminal', monospace;
  color: #acacac;
  font-size: 13px;
  margin: 0;
}

.styleus_sample_box {
  background: #6E9CBE;
  width: 100px;
  height: 100px;
  margin: 0.3em;
}