<div class="content_with_list">
  <nav class="__component_index">
    <h3>Components</h3>
    <ul>
      <% Styleus::Component.sections.each do |section, components| %>
        <li><%= link_to section.to_s.camelcase, send(:"#{section.to_s.pluralize}_path") %></li>
      <% end %>
    </ul>
  </nav>
</div>