<div class="content_with_list">
  <nav class="__component_index">
    <h3>Components</h3>
    <ul>
      <li><a href="/components/containers">Container Components</a></li>
      <li><a href="/components/forms">Form Components</a></li>
    </ul>
  </nav>
</div>