@mixin floating-text-font {
  font-family: 'Source Sans Pro';
}

@mixin ambient-font {
  @include floating-text-font;
  color: $soft-text;
}

@mixin ambient-headline {
  @include ambient-font;
  font-size: 1.2em;
  font-weight: bold;
}
