$main_background: #e8e6df;
$content_background: #fff;
$soft_content_background: #ece8d6;

// soft text is used for example in articles,
// to provide an ambient headline.
$soft_text: #473a3a;

// used for headlines and ares, which should
// be really in foreground.
$hard_contrast_font: #332717;
$hard_contrast_area: #2d2315;