<nav class="__option_bar">
  <ul>
    <li><%= link_to t('icons.html'), component_path(component),
                    title: t('links.titles.html'), class: 'icon', data: { toggle: "##{component.id} [data-subject=html-representation]" } %></li>

    <% if component.helper? %>
      <li><%= link_to t('icons.helper'), component_path(component),
                      title: t('links.titles.helper'), class: 'icon', data: { toggle: "##{component.id} [data-subject=ruby-representation]" } %></li>
    <% end %>

    <li><%= link_to t('icons.expand_all'), component_path(component),
                    title: t('links.titles.expand_all'), class: 'icon', data: { toggle: "##{component.id} [data-subject*=representation]" } %></li>
  </ul>
</nav>