<section class="__mq_presenter">
<ul class="__mq_screen_size_list">
  <li class="__mq_step one">&lt; 1024px</li>
  <li class="__mq_step two">1024px &lt;&gt; 1480px</li>
  <li class="__mq_step three">&gt; 1480px</li>
</ul>
</section>