// TODO: has to be discovered via js, later.
$diagonals_default_size: 100%;
$diagonals_multiplier: 2;
$border_color: #dddddd;

.styleus_sample.box {
  @include border-radius(4px);
  @include component;
  display: block;
  border: 1px solid $border_color;
  height: 100px;
  margin: 3px;
  width: 100px;
  background: #eeeeee;


  & > .diagonal {
    display: block;
    height: 1px;
    position: relative;
    left: 0;
    top: $diagonals_default_size / $diagonals_multiplier;
    background: $border_color;
  }
}