// TODO: has to be discovered via js, later.
$diagonals_default_size: 100%;
$diagonals_multiplier: 2;

.styleus_sample.box {
  //@include component;
  display: block;
  border: 1px solid black;
  height: 100px;
  margin: 3px;
  width: 100px;

  & > .diagonal {
    display: block;
    height: 1px;
    position: relative;
    //left: -($diagonals_default_size / $diagonals_multiplier);
    left: 0;
    top: $diagonals_default_size / $diagonals_multiplier;
    background: #000;
  }
}