.__index_documentation {
  @include default-side-margin;
  @include floating-text-font;
  margin-top: 2em;
  padding-left: 0.5em;

  h2 {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
}