body { background: $main_background; }

.__styleus_wrapper {
  @include box-sizing(border-box);
  padding: 3em 1em 1em 4em;

  header {
    h1 {
      font-size: 5em;
      font-family: "Oleo Script";
      margin-bottom: 0.2em;
      color: #332717;
    }
  }
}