<!DOCTYPE html>
<html>
<head>
  <title>ComponentGuide</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- class __styleus is the styleus context class,
 providing a minimal css setting. -->
<section class="__styleus_wrapper">
  <header>
    <h1>Component Guide</h1>
  </header>

  <%= yield :components %>
</section>
</body>
</html>
